.bio-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vmin;
}

.bio-info {
  text-align: center;
  /* background-color: blue; */
  width: 93%;
  padding: 5vmin 0;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  /* margin: 5vmin; */
}

.bio-info:hover {
  background-color: rgba(0, 0, 0, .5);
}

.bio-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bio-img {
  width: 50%;
  border-radius: 10px;
  margin-top: 3vmin;
}

h1 {
  font-family: nunito-sans-semibold;
  color: #DFD5A5;
}


.bio-text {
  color: white;
  width: 75%;
  text-align: justify;
}

.skills-div {
  text-align: center;
  margin-top: 20vmin;
  /* background-color: white; */
  width: 100%;
  
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5vmin 20vmin 20vmin 20vmin;
  background-color: rgba(255, 255, 255, .9);
  padding: 5vmin;
  border-radius: 10px;
}

.icons > img {
  max-width: 8vmin;
  padding: 2vmin;
}

.icons > img:hover {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
}

@media (min-width: 720px) {
  .bio-img {
    width: 30%;
  }

  .bio-img-text {
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    gap: 15vmin;
    margin-left: 8vmin;
  }

  .bio-text {
    width: 50%;
    text-align: justify;
  }
}