p {
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin: 0 8vmin;
  /* padding-top: 2vmin; */
  align-self: flex-start;
  width: 50%;
  padding: 3vmin;
  border-radius: 10px;
}

.contact-info:hover {
  background-color: rgba(0, 0, 0, .5);
}

a {
  text-decoration: none;
  color: black;
  padding: .75vmin;
  border-radius: 5px;
  background-color: rgba(155, 155, 155, .2);
}

a:hover {
  background-color: rgba(155, 155, 155, .5);
  padding: 1vmin;
}

p {
  color: black;
}

@media (min-width: 720px) {
  a {
    color: white;
  }
  p {
    color: white;
  }
}