p {
  color: white;
}

.contact-div {
  display: flex;
  flex-direction: column;
  margin: 7vmin 5vmin;
  padding-top: 2vmin;
  align-self: flex-start;
}

a {
  text-decoration: none;
  color: white;
}