p {
  color: white;
}

.contact-div {
  display: flex;
  flex-direction: column;
  margin: 7vmin 5vmin;
  padding-top: 2vmin;
  align-self: flex-start;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: black;
}

@media (min-width: 720px) {
  a {
    color: white;
  }
  p {
    color: white;
  }
}