.resume-info {
  margin: 0 0 30vmin 8vmin;
  padding: 2vmin 3vmin;
  align-self: flex-start;
  width: 50%;
  padding: 2vmin;
  border-radius: 10px;
}

.resume-info:hover {
  background-color: rgba(0, 0, 0, .5);
}

h1 {
  margin: 0;
}

.download {
  color: black;
  background-color: rgba(155, 155, 155, .2);
  padding: .75vmin;
}

.download:hover {
  padding: 1vmin;
}

@media (min-width: 720px) {
  .download {
    color: white;
  }
}