.resume-div {
  margin: 0 0 30vmin 0;
  padding: 5vmin;
  align-self: flex-start;
}

h1 {
  margin: 0;
}

.download {
  color: black
}

@media (min-width: 720px) {
  .download {
    color: white;
  }
}