.nav-bar {
  background-color: #00A6FB;
  margin: 0;
  height: 10vmin;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  font-family: nunito-sans-semibold;
  color: #DFD5A5;
  font-size: 4vmin;
}

.logo {
  height: 10vmin;
}

.division {
  color: #DFD5A5;
  font-size: 6vmin;
}