.nav-bar {
  background-color: #00A6FB;
  margin: 0;
  height: 10vmin;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
}

.link {
  text-decoration: none;
  font-family: nunito-sans-semibold;
  color: #DFD5A5;
  font-size: 4vmin;
  cursor: pointer;
}

.logo {
  height: 10vmin;
}

.division {
  color: #DFD5A5;
  font-size: 6vmin;
}

@media (min-width: 720px) {
  .nav-bar {
    height: 7vmin;
  }

  .link {
    font-size: 3vmin;
  }

  .logo {
    height: 8vmin;
  }

  .division {
    font-size: 3vmin;
  }
}